<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://unpkg.com/animate.css@3.5.2/animate.min.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue"></script>
    <title>Document</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>AND YOUR CARD IS</h1>
    <div id="vue-app">
        <div id="card" :class="{'animated': animated}"> 
          <div id="top-val" :style="{color: color}">{{val}}</div>
          <div id="card-suit" :class="computedSuit"></div>
          <div id="bottom-val" :style="{color: color}">{{val}}</div>
        </div>

      <div id="card-div"><button @click="drawCard">Draw</button></div>
      <div id="credits-div">
        <p class="credits">Developed by Cobbie Quintos</p>
        <p class="credits">Design by Mike del Castillo</p>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
