body {
  background-color: #276266;
  padding-top: 50px;
}
h1 {
  margin-top: 200px;
  width: 400px;
  text-shadow: 20px;
  margin: 0 auto;
  font-family: Futura;
  color: #f2c94c;
  font-weight: 500;
  letter-spacing: 4px;
}

#card-div {
  margin: 0 auto;
  width: 400px;
  display: flex;
  align-content: center;
}

button {
  margin: 0 auto;
  margin-top: 40px;
  border: 0px;
  border-radius: 15px;
  font-family: Futura;
  text-align: center;
  background-color: #eb5757;
  height: 45px;
  width: 100px;
  font-size: 20px;
  box-shadow: 0 6px 2px -2px #242322;
  color: white;
  cursor: pointer;
  outline: none;
}
#card {
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 15px;
  height: 400px;
  width: 250px;
  box-shadow: 40px;
  background-color: white;
}

.credits {
  color: #1a4245;
  font-family: Roboto;
  width: 200px;
  margin: 0 auto;
}

#credits-div {
  width: 250px;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 45px;
  font-size: 13px;
}

#top-val,
#bottom-val {
  font-family: "Ultra", serif;
  font-size: 35px;
  margin-top: 20px;
}

#top-val {
  padding-top: 10px;
  margin-left: 20px;
}

#card-suit {
  background-size: 100% 100%;
  width: 40%;
  height: 67%;
  margin: 0 auto;
}

#bottom-val {
  text-align: right;
  margin-right: 20px;
}

.spades {
  background-image: url(./img/spades.svg);
}

.clubs {
  background-image: url(./img/clubs.svg);
}
.hearts {
  background-image: url(./img/hearts.svg);
}
.diamonds {
  background-image: url(./img/diamonds.svg);
}

@keyframes bounce {
  0% {
    transform: rotateX(0deg) scale(0.05);
  }

  25% {
    transform: rotateX(90deg);
    transform: scale(0.2);
  }

  35% {
    tranform: rotateX(105deg) scale(0.5);
  }
  50% {
    transform: rotateX(120deg);
    transform: rotateY(120deg);
  }

  75% {
    transform: scale(1.3);
  }
}

.animated {
  animation-name: bounce;
  animation-duration: 0.6s;
  animation-direction: alternate;
}
